@model HomeVM

@{
    ViewData["Title"] = "首頁";
}

<!-- Featured Blog Post -->
<div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
    <div class="col-lg-6 px-0">
        <h1 class="display-4">.NET MVC 框架構建的Web應用程序</h1>
        <p class="lead my-3">.NET MVC專案練習，使用.NET Entity Framework 來進行數據庫操作，.NET Identity 框架來實現用戶登入以及權限控管。</p>
    </div>
</div>

<!-- Blog Posts Row -->
<div class="row mb-2">
    @foreach (var dt in Model.RandomArticles!)
    {
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary-emphasis">@dt.CategoryName</strong>
                    <h3 class="mb-0">@dt.Title</h3>
                    <div class="mb-1 text-body-secondary">@dt.CreatedTime</div>
                    <p class="card-text mb-auto" style="overflow:hidden;white-space: nowrap;text-overflow: ellipsis; max-width: 250px;">@dt.Content</p>
                    <a asp-controller="Article" asp-action="Detail" asp-route-id="@dt.Id"
                        class="icon-link gap-1 icon-link-hover stretched-link">
                        Continue reading
                        <svg class="bi">
                            <use xlink:href="#chevron-right" />
                        </svg>
                    </a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img"
                        aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c" />
                        <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                    </svg>
                </div>
            </div>
        </div>
    }
</div>

<!-- Latest Articles Row -->
<div class="row">
    <!-- Sticky Section -->
    <div class="col-12 border-bottom">
        <div class="position-sticky" style="top: 2rem;">
            <h4 class="fst-italic">最新文章</h4>
        </div>
    </div>

    <!-- Blog Post Items -->
    @foreach (var dt in Model.LatestArticles!)
    {
        <div class="col-4">
            <a asp-controller="Article" asp-action="Detail" asp-route-id="@dt.Id"
                class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none">
                <svg class="bd-placeholder-img" width="100%" height="96" xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#777" />
                </svg>
                <div class="col-lg-8">
                    <h6 class="mb-0">@dt.Title</h6>
                    <small class="text-body-secondary">@dt.CreatedTime</small>
                </div>
            </a>
        </div>
    }
</div>
